.body-card{
   background-size: 100% ;
   background-position:;
background-repeat: no-repeat;
width:fit-content;

    
}
.body-text{
    color: whitesmoke;
    text-align:left;
    font-size: 25px;
    margin-bottom: -15px;
    padding-top: 5px;

}
.para-text{
    color:white;
    text-align: left;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: -5px;
}
.Menu-Card{
    Color:whitesmoke;
    display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: -5px -5px;
  gap: 0px;
  margin-bottom: -5px;
  text-decoration: none;
  color: whitesmoke ;
  margin-left:510px;

}
.Menu-Card a{
  margin-left: 25px;
  padding-top: -5px;
  text-decoration: none;
  color:whitesmoke;

}
.pic{
    display: flex;             /* side by side layout */
  align-items: center;       /* vertical alignment */
  justify-content: space-between;
  padding: 20px 50px;
  width:50%;   
  margin-left: 880px;
  height: 300px;
  padding-bottom: 100px;
  margin-top:150px;

}
.midel-text{
    font-style: inherit;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: azure;
    margin-left: 180px;
    margin-top: 100px;
}
.m-text{
    color: azure;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: inherit;
    margin-left: 280px;
    margin-top: 20px;

}
.hero{
  width: 220px;         
  height: 220px;
  border-radius: 50%;   
  object-fit: cover;    
  border: 4px none;
  margin-left: 950px;
  margin-bottom: 20px;
  position:relative;
  top:-150px;
}
.btn{
    border-radius: 15px;
    padding: 9px;
    margin-left: 5px;
    margin-bottom: 35px;
    background-color: black;
    color: azure;
}
.social-section {
  color: white;
  text-align: left;
  margin: 60px 0;
  padding-left: 80px;
  margin-left: 950px;
  margin-bottom:15px;
}

.social-section p {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top:-90px;
  position: absolute;
    bottom: 120px; /* adjust */
    right: 200px;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons i {
  font-size: 28px;
  color: white;
  transition: 0.3s ease;
}

.fa-linkedin:hover { color: #0A66C2; transform: scale(1.3); }
.fa-instagram:hover { color: #E4405F; transform: scale(1.3); }
.fa-github:hover { color: #9f9f9f; transform: scale(1.3); }
.fa-x-twitter:hover { color: #1DA1F2; transform: scale(1.3); }
